/.asdf/
/.env
/.env.*
/_build/
/deps/
/tmp/
/cover/
/doc/
/apps/*/priv/plts/
/.elixir_ls/
*.ez
erl_crash.dump
.fetch
node_modules/
/.pnpm-store/
/pnpm-debug.log
dist/
apps/money_tree/priv/static/assets/
apps/money_tree/priv/static/cache_manifest.json
apps/money_tree/priv/static/*.gz
apps/money_tree/priv/static/*-*.ico
apps/money_tree/priv/static/*-*.txt
