<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <.csrf_meta_tag />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
      nonce={assigns[:csp_nonce]}
    ></script>
  </head>
  <body class="min-h-screen bg-zinc-50 text-zinc-900 antialiased">
    <%= @inner_content %>
  </body>
</html>
