@import "@money-tree/ui/index.css";
@import "tailwindcss";

:root {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
  color-scheme: light dark;
}

body {
  background-color: theme(colors.background, #0f172a);
  color: theme(colors.foreground, #f8fafc);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
